* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
