@import "base";
@import "variables";
@import "functions";

.navbar {
  height: 4rem;
  background-color: $nav-color;
  color: $offwhite;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  &-logo {
    grid-column: 1/2;
    font-size: 2rem;
    font-family: "Mr Dafoe", cursive;
  }
  &-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: 3/4;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
  }
  &-link {
    text-decoration: inherit;
    color: inherit;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      transition: $maintransition;
      transition-duration: 0.3s;
      height: 0.2rem;
      width: 0;
      bottom: -0.3rem;
      left: 0;
      right: 0;
      opacity: 0;
      background-color: $pink-color;
    }
    &:hover {
      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }
  &-name {
    text-decoration: inherit;
    color: inherit;
  }
}

.hamburger {
  font-size: 2rem;
  display: none;
}

//Splitscreen

.split {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &-left {
    @include flexCenterCol;
    position: relative;
    grid-column: 1/2;
    background: url(../src/assets/img/fruit.jpg) no-repeat center 10% / cover;
  }
  &-right {
    @include flexCenterCol;
    position: relative;
    grid-column: 2/3;
    background: url(../src/assets/img/veg.jpg) no-repeat center / cover;
  }
}

.title {
  text-transform: uppercase;
  color: $offwhite;
}

//Overlays

//Hero
.defaultHero {
  background: url(../src/assets/img/berries.jpg) center center / cover no-repeat;
  height: calc(100vh - #{$navheight});
  @include flexCenterCol;
}

//Homepage
.section-info {
  height: 100vh;
}

//Media Queries
@media screen and (max-width: 830px) {
  .hamburger {
    display: initial;
    grid-column: 3/4;
    justify-self: flex-end;
    margin-right: 2rem;
  }
  .navbar-links {
    display: none;
  }
  .split {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    &-left {
      grid-row: 1/2;
      grid-column: initial;
    }
    &-right {
      grid-row: 2/3;
      grid-column: initial;
    }
  }
}
